:root {
  --color-white: #f7f7f7;
  --color-grey: #485460;
  --color-primary: rgba(39, 36, 128, 0.89);
  --color-secondary: #1bc4fcfd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-grey);
  background-color: var(--color-white);
  padding: 7rem;
}
@media only screen and (max-width: 62em) {
  body {
    padding: 5rem;
  }
}
@media only screen and (max-width: 48em) {
  body {
    padding: 0rem;
  }
}

::placeholder {
  color: rgba(63, 63, 63, 0.5);
}

.hideForm {
  opacity: 0;
  pointer-events: none;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(54, 115, 207, 0.6), rgba(50, 48, 117, 0.6)), url("../../img/cover6.jpg");
  height: 70vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .header__date, .header .header__title {
  color: var(--color-white);
}
.header__title {
  font-size: 7rem;
  font-weight: 300;
}
.inbox {
  width: 75%;
  margin: 0 auto;
  padding: 3rem;
}
@media only screen and (max-width: 62em) {
  .inbox {
    width: 100%;
  }
}
.inbox__heading {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media only screen and (max-width: 25em) {
  .inbox__heading {
    font-size: 2.5rem;
  }
}
.inbox__item {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(50, 48, 117, 0.3);
}
@media only screen and (max-width: 36em) {
  .inbox__item {
    display: grid;
    grid-template-areas: "texts icons" "time icons";
    row-gap: 1rem;
  }
}
@media only screen and (max-width: 25em) {
  .inbox__item {
    grid-template-areas: "texts" "time" "icons";
    row-gap: 1rem;
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 36em) {
  .inbox__text {
    grid-area: texts;
  }
}
.inbox__icon {
  cursor: pointer;
}
@media only screen and (max-width: 36em) {
  .inbox__icon {
    grid-area: icons;
  }
}
.inbox__time {
  text-transform: uppercase;
  color: rgba(63, 63, 63, 0.8);
}
@media only screen and (max-width: 36em) {
  .inbox__time {
    grid-area: time;
  }
}
.inbox svg {
  width: 2.7rem;
  height: 2.7rem;
  fill: rgba(50, 48, 117, 0.8);
}
.inbox__complete {
  text-transform: uppercase;
  color: rgba(63, 63, 63, 0.6);
  display: none;
}

.list {
  width: 6rem;
  height: 6rem;
  background-color: #323075;
  color: var(--color-white);
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 300;
  position: fixed;
  right: 7rem;
  bottom: 3rem;
  cursor: pointer;
}
@media only screen and (max-width: 62em) {
  .list {
    right: 5rem;
  }
}
@media only screen and (max-width: 48em) {
  .list {
    right: 3rem;
  }
}
@media only screen and (max-width: 25em) {
  .list {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
  }
}

.list-form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: row-reverse;
}

.form {
  width: 35vw;
  background-color: #f5faff;
}
@media only screen and (max-width: 62em) {
  .form {
    width: 45vw;
  }
}
@media only screen and (max-width: 48em) {
  .form {
    width: 60vw;
  }
}
@media only screen and (max-width: 36em) {
  .form {
    width: 75vw;
  }
}
@media only screen and (max-width: 25em) {
  .form {
    width: 100vw;
  }
}
.form__header {
  display: grid;
  grid-template-areas: "arrow title";
  padding: 3rem;
}
.form__icon {
  grid-area: arrow;
  cursor: pointer;
}
.form__heading {
  grid-area: title;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 400;
}
.form svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
}
.form__image {
  width: 100%;
  padding: 0 8rem;
}
@media only screen and (max-width: 36em) {
  .form__image {
    padding: 0 7rem;
  }
}
.form__form {
  display: grid;
  padding: 3rem 0;
  grid-template-areas: "task" "time" "button";
  row-gap: 2rem;
}
.form__input {
  width: 70%;
  margin: 0 auto;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(50, 48, 117, 0.4);
  padding: 1.5rem 0;
  font-size: 16px;
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}
.form__input:focus {
  outline: none;
}
@media only screen and (max-width: 36em) {
  .form__input {
    width: 80%;
  }
}
@media only screen and (max-width: 25em) {
  .form__input {
    width: 85%;
  }
}
.form__btn {
  width: 70%;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-transform: uppercase;
  border: none;
  background-color: #323075;
  color: #f5faff;
  margin-top: 2rem;
}
@media only screen and (max-width: 36em) {
  .form__btn {
    width: 80%;
  }
}
@media only screen and (max-width: 25em) {
  .form__btn {
    width: 85%;
  }
}
.form__btn:focus {
  outline: none;
}

.decision {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.decision__box {
  background-color: #f5faff;
  padding: 4rem;
  text-align: center;
  display: grid;
  grid-template-areas: "heading" "form";
  row-gap: 1rem;
}
@media only screen and (max-width: 25em) {
  .decision__box {
    padding: 3rem 2rem;
  }
}
.decision__heading {
  grid-area: heading;
}
.decision__form {
  grid-area: form;
}
.decision__btn {
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  background-color: #323075;
  color: #f5faff;
}

.decision-delete {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.decision-delete__box {
  background-color: #f5faff;
  padding: 4rem;
  text-align: center;
  display: grid;
  grid-template-areas: "heading" "form";
  row-gap: 1rem;
}
.decision-delete__heading {
  grid-area: heading;
}
.decision-delete__form {
  grid-area: form;
}
.decision-delete__btn {
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  background-color: #323075;
  color: #f5faff;
}

.footer {
  width: 100%;
  background-color: #323075;
  padding: 3rem;
  color: #f5faff;
  text-align: center;
}
@media only screen and (max-width: 25em) {
  .footer {
    padding: 2.5rem;
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
